pyrogram
tgcrypto
requests
pyromod
ffmpeg-python
mediainfo
cloudscraper
beautifulsoup4
bs4
aiohttp
aiofiles
yt-dlp
pycryptodome
PySocks
websockets
psutil
async-lru
helper
pyaes
soupsieve
py-tgcalls
flask
gunicorn

